{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}
{%-else-%}
  {%-assign posts = site.posts-%}
{%-endif-%}

{%-if include.limit and posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if posts.size > 0 -%}
  <ul>
    {%- for post in posts limit: include.limit -%}
        <li>
          <span>{{- post.date | date: site.theme_config.date_format -}}</span>
          <a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a>
          {%- assign excerpt_text = post.content | strip_html | replace: '\n', ' ' | truncate: 100, '' -%}
          {%- if excerpt_text.size > 10 -%}
            <ul style="margin-top:0.3rem; margin-bottom:0.5rem; list-style-type: circle; padding-left:1.5rem;">
              <li style="color:#999; font-size:16px;">{{ excerpt_text }}...</li>
            </ul>
          {%- endif -%}
        </li>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
    {%- endif -%}
  </ul>
{%- endif -%}
